@page "/ListaSistemas"
@inject SistemasBLL SistemasBLL


<EditForm Model="lista">

    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h4>Consulta de Sistemas</h4>
            </div>

            <div class="card-body">
                <div class="input-group mb-3">
                    <InputText @bind-Value="Nombre" class="form-control" aria-describedby="buscarButton" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button" id="buscarButton">
                        <i class="oi oi-magnifying-glass" />
                    </button>
                </div>

                <table class="table table-responsive table-condensed table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>SistemaId</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sistema in lista)
                        {
                            <tr>
                                <td>@sistema.SistemaId</td>
                                <td>@sistema.Nombre</td>
                                <td><a class="btn btn-outline-primary" href="ocupacion/@sistema.SistemaId">Ver</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="card-footer">
                <div class="form-row justify-content-sm-between" aria-orientation="vertical">
                    <div class="col-3">
                        <label for="CantidaRegistro" class="col-form-label"><strong>Filas</strong>&nbsp;</label>
                        <input id="CantidaRegistro" @bind-value="@conteo" disabled class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</EditForm>

@code
{
    public string Nombre { get; set; } = "";
    public int conteo { get; set; } = 0;

    public List<Sistemas> lista { get; set; } = new List<Sistemas>();

    public void Buscar()
    {
        if (string.IsNullOrWhiteSpace(Nombre))
            lista = SistemasBLL.GetList(s => true);
        else
            lista = SistemasBLL.GetList(s => s.Nombre.Contains(Nombre));

        conteo = lista.Count();
    }

}